{{ define "main" }}
    <h1>A propos de l'exposition Darwin, l'original</h1>

    <p>Les idées révolutionnaires de Darwin et les bouleversements scientifiques qu’il a contribué à créer égalent les travaux de Copernic dans ses effets à long terme sur nos savoirs, nos représentations et nos croyances. Après Copernic, la Terre n’est plus au centre de l’Univers, mais elle tourne autour du Soleil. Après Darwin, la biologie s’est enrichie d’une théorie générale lui permettant d’expliquer la diversité et l’évolution des êtres vivants. Grâce à lui, on comprend que l’Homme n’est plus au centre, et encore moins au sommet du vivant.</p>

    <figure class="apropos__img-block apropos__img-block--01"></figure>

    <p>Réalisée en collaboration avec le Muséum national d’Histoire naturelle, présentée à l’origine à la Cité des sciences de Paris, l’exposition propose un voyage dans la pensée singulière et féconde de ce personnage iconique, auteur de l’œuvre fondamentale L’Origine des espèces par le moyen de la sélection naturelle. Le visiteur est guidé à travers un parcours pluridisciplinaire et interactif, au cœur d’un univers graphique immersif. Il déambule ainsi dans une végétation foisonnante et luxuriante qui l’enveloppe et l’accompagne dans sa découverte de l’œuvre de Darwin et dans l’imaginaire victorien.</p>

    <p>L’exposition suit l’itinéraire intellectuel et la lente maturation des idées de Charles Darwin (1809-1882). Elle s’attache à faire entrer le public dans sa pensée et dans ses méthodes. Après son enfance et ses années de formation qui l’ont progressivement amené à découvrir son goût pour les sciences naturelles, Darwin a entrepris très jeune, de 1831 à 1836, un long voyage à bord du HMS Beagle, un navire de la Royal Navy.</p>

    <figure class="apropos__img-block apropos__img-block--02"></figure>
    
    <p>Ce tour du monde dans l’hémisphère sud va tester ses capacités d’observation et de réflexion, et asseoir sa réputation de naturaliste prometteur, grâce à son travail et ses échanges épistolaires avec de célèbres naturalistes. Ce sont ses lectures, ses observations géologiques, botaniques et zoologiques qui plus tard alimenteront en faits, à l’épreuve desquels il confrontera ses hypothèses, note après note, esquisse après esquisse, une théorie de la descendance avec modification.</p>

    <p>L’exposition fait également découvrir comment ces idées ont été reçues, parfois détournées de son vivant. Elle esquisse les étapes de la conversion d’un homme à des idées qui s’opposaient à ses convictions initiales et à l’opinion générale de son époque, où la théologie naturelle dominait la biologie, discipline encore jeune baptisée par Lamarck.</p>

    <p>La révolution darwinienne est une révolution scientifique qui permet d’aborder de nombreux domaines : zoologie, botanique, géologie, paléontologie, anthropologie, mais aussi la géographie, et bien sûr l’histoire. Un des temps forts de l’exposition Darwin, l’original tente de confronter les idées de Darwin à ce que disent aujourd’hui les sciences de l’évolution. C’est là l’occasion de synthétiser, pour un public non spécialiste de la biologie, les avancées, réfutations, confirmations et extensions de la pensée du naturaliste britannique.</p>

    <figure class="apropos__img-block apropos__img-block--03"></figure>
    
    <p>L’exposition sera accueillie à La Cité Miroir à Liège par le Centre d’Action Laïque de la Province de Liège. L’association entend ainsi faire honneur à un personnage qui a permis de bousculer les idées de son époque et faire progresser la connaissance humaine. Pour elle, c’est également une occasion de promouvoir la théorie scientifique de l’évolution et lutter contre les dérives créationnistes.</p>

    <p>L’association proposera également des visites guidées de l’exposition et des animations à destination des groupes pour prolonger l’expérience, une rencontre-débat et une conférence de Guillaume Lecointre, commissaire de l’exposition et directeur du département Évolution du Muséum national d’Histoire naturelle.</p>

    <h2 style="margin-top:80px;">Les atouts de l’exposition</h2>

    <ul>
        <li>Un parcours clair, synthétique 
        et interactif pour tous les publics.</li>
        <li>Une scénographie moderne.</li>
        <li>Des documents et des ressources inédits.</li>
        <li>De nombreux supports multimédias.</li>
        <li>Des activités et des énigmes pour les jeunes.</li>
        <li>Une approche globale de Darwin, de son époque et de ses théories.</li>
        <li>Des animations pour toutes et tous, menées par des animateurs expérimentés.</li>
    </ul>

    <p style="margin-top:80px;"><a class="button" href="{{ .Site.BaseURL }}">Retour</a></p>
{{ end }}