{{ define "main" }}

    <section id="intro" class="home-section">
        <h1 class="site-title">Darwin, l’original</h1>
        <time>Du 12 octobre 2019 au 2 février 2020</time>
        <p>à La <a href="http://www.citemiroir.be">Cité Miroir</a> à Liège</p>
        <p>
            La Cité Miroir à Liège accueillera une exposition consacrée à un personnage à la fois célèbre et méconnu, Charles Darwin, le père de la théorie de l’évolution. Au-delà du portrait de naturaliste, biologiste scientifique reconnu, se profile un humaniste, un anti-esclavagiste et un pionnier de l’éthologie animale et humaine, pour qui l’empathie et la collaboration étaient également le résultat de l’évolution.
        </p>
    </section>
    
    <section id="en-pratique" class="home-section">
        <h2>En pratique</h2>
        <ul>
            <li>Du 12 octobre 2019 au 2 février 2020 à La <a href="http://www.citemiroir.be">Cité Miroir</a> à Liège - 22 place Xavier Neujean. 4000 Liège</li>
            <li>En langue française, anglaise et italienne.</li>
            <li>Exposition tout public familial et scolaire à partir de 10 ans.</li>
            <li>
                <h3>Entrée</h3> 
                <ul>
                    <li>7€</li>
                    <li>5€ (-26 ans, demandeur d’emploi, groupe (min. 10 pers.), Carte prof, personne handicapée, Citoyen Fondation Cité Miroir, Membre Territoires de la Mémoire)</li>
                    <li>1,25 € (Art.27)</li>
                </ul>
            </li>
            <li>
                <h3>Horaires</h3>
                <ul>
                    <li>Lundi au vendredi 9h-18h</li>
                    <li>Samedi et dimanche 10h-18h</li>
                    <li>Ouverture en soirée en fonction des activités programmées</li>
                    <li>Fermetures exceptionnelles les 11/11, 9/12, 24/12, 25/12, 31/12 et 01/01.</li>
                </ul>
            </li>
            <li>
                <h3>Informations et réservation</h3>
                <ul>
                    <li>04&nbsp;230&nbsp;70&nbsp;50</li>
                    <li><a href="mailto:reservation@citemiroir.be">reservation@citemiroir.be</a></li>
                    <li><a href="https://www.citemiroir.be">www.citemiroir.be</a></li>
                </ul> 
            </li>
        </ul>
    </section>
    
    <section id="reservation" class="home-section">
    <h2>Réservez vos visite en groupe</h2>
    
    Visite animée                                                                25€ + ticket d’entrée/pers. (sur réservation uniquement)
        à partir de 12 ans                                                         (durée : 1h30)
    Au cœur de l’exposition, découvrez le parcours de Darwin, sa théorie de l'évolution, la manière dont elle a été reçue, les controverses qu'elle a suscitées et qu'elle suscite encore aujourd'hui tant sur le plan religieux que scientifique et ses implications actuelles dans différents domaines. Cette visite interrogera aussi les caractéristiques de la démarche scientifique et s'attachera à montrer comment l’une des plus grandes contributions à la pensée moderne et universelle est à nouveau menacée par l’obscurantisme. Raison et science sont essentielles dans le processus d’émancipation des individus pour pouvoir se libérer des croyances et des superstitions. 
    
    Visite animée avec passeport                                  25€ + ticket d’entrée/pers. (sur réservation uniquement)
    À destination du public scolaire secondaire          (durée : 1h30)
    Cette visite débutera par une courte animation visant à mettre en évidence ce que le public sait déjà (ou croit savoir) sur la théorie de l’évolution. Il leur sera ensuite proposé de parcourir l’exposition à leur rythme, munis d’un passeport comportant un certain nombre de questions dont les réponses seront à trouver dans l’exposition. La visite se clôturera par un échange autour des questions du carnet.
    
    Animation Tous croyants ?                                       25€ + ticket d’entrée/pers. (sur réservation uniquement)
        à partir de 15 ans                                                         (durée : 2 x 50 min.)
    Sommes-nous tous croyants ? Sommes-nous capables de nous libérer de nos croyances, au moins en partie ? Est-ce souhaitable ? Autant de questions auxquelles réfléchir ensemble. Qu’est-ce que la croyance ? Ou devrait-on dire, les croyances ? Quels rapport entretiennent-elles avec la science ? Comment font-elle partie de notre approche du monde, des autres, de notre vie en collectivité ? C’est une réflexion et un voyage au sein de nos propres représentations que nous vous proposons, en marge de Darwin, l’original, avec une exposition dynamique et vivante. Les animations permettront d’approfondir ces thèmes et plus encore, dans une approche interactive et d’ouverture du débat.
    
    </section>
    
    <section id="activites" class="home-section">
    
    <h2>Activités dans le cadre de l'exposition</h2>
    
    Exposition 
    Tous croyants ?
    Du 12 octobre 2019 au 12 janvier 2020 à La Cité Miroir
        Compris avec l’entrée de l’exposition Darwin, l’original
    L’exposition Tous Croyants ? propose d’éveiller l’esprit critique en abordant le monde avec un soupçon de recul. De prendre le temps d’analyser les choses à une époque où les opinions se forgent à la vitesse de 280 caractères par minute. Elle se veut une boîte à outils, une amorce de décodage, un jeu de miroir. Un moment où se demander ensemble et en toute liberté : « sommes-nous tous des croyants ? » 
    Une exposition conçue par le Centre d’Action Laïque de la Province de Liège
    --------------------------
    La laïcité tacite de la science 
    Conférence de Guillaume Lecointre, commissaire de l’exposition Darwin, l’original 
    Le 12 novembre 2019 à 19h30 à La Cité Miroir
    Il n’est plus exceptionnel aujourd’hui, en classe de sciences ou sur les réseaux sociaux, que les contenus scientifiques se voient questionnés voir contestés sur base de croyances ou d’opinions. La théorie de l’évolution n’échappe pas à la règle. Guillaume Lecointre, chercheur et pédagogue, nous proposera de s’armer intellectuellement face à cette réalité. Il nous confiera des clés pour mieux distinguer les savoirs, issus de la démarche scientifique, des croyances, convictions religieuses ou opinions. Il nous rappellera les conditions essentielles à l’exercice scientifique, la laïcité tacite qui l’anime et le rôle éminemment social et politique de l’espace scolaire.
    Guillaume Lecointre est directeur du département Systématique et Évolution du Muséum National d'Histoire Naturelle en France. Il est commissaire de l’exposition Darwin, l’original. 
    --------------------------
    Tout le monde descend 
        Pièce de café-théâtre de Marie-Charlotte MORIN. Production : Artenréel#1.
    Le jeudi 21 novembre à 14h (scolaire) et à 19H30 (adultes) à La Cité Miroir
    Plus de 150 ans après la parution de L’Origine des espèces de Charles Darwin, la science moderne nous livre les détails des mécanismes de l’évolution. Cette théorie, pourtant reconnue par toute la communauté scientifique, reste en conflit avec les religieux les plus obscurantistes, mais pas seulement. Par le jeu et la pédagogie, cette pièce est une comédie de vulgarisation scientifique qui a pour objectif d’expliquer, détailler, illustrer, redémontrer, appuyer la théorie de Darwin en la rendant accessible et joyeuse. Elle veut décloisonner la science de son cadre habituel, déverrouiller les codes d’accès traditionnels. Elle offre ainsi une entrée en matière passionnante, décalée et illustre les conflits entre science et dogmes séculaires. Une opposition ô combien d’actualité aux obscurantismes de tous horizons, surtout aux États-Unis où seul un quart des américains sont convaincus par la théorie de Darwin. 
    Tout public à partir de 12 ans.  Durée : 1h15
    7€
    5€ (-26 ans, demandeur d’emploi, groupe (min. 10 pers.), Carte prof, personne handicapée, Citoyen Fondation Cité Miroir, Membre Territoires de la Mémoire)   
    3€ (scolaire, Art.27)
    Réservation : 04 230 70 50 – reservation@citemiroir.be – www.citemiroir.be 
    --------------------------
    Science et croyance, éternels ennemis
    Rencontre avec Marcel Otte, docteur en Histoire de l’art et archéologie, Albert Moukheiber, docteur en neurosciences et psychologue clinicien et un intervenant à déterminer
    Le 26 novembre 2019 à 9h à La Cité Miroir
    Trois intervenants croiseront leurs regards sur l’antagonisme entre la science et la croyance. Ils proposeront des points de vue complémentaires à partager avec le public. Le combat entre la science et la croyance est-il inutile ? La science s’est-elle substituée à la religion dans la construction de notre civilisation ? Notre cerveau est-il une fabrique à croyances ? La foi est-elle compatible avec une démarche rationnelle et scientifique ? Autant de questions, et bien d’autres, qui viendront animer ce moment d’échange et de débat.
    Avec 
    - Marcel Otte, docteur en histoire de l’art et archéologie, professeur ordinaire émérite à l’Université de Liège
    - Albert Moukheiber, docteur en neurosciences et psychologue clinicien. 
    
    - Intervenant à déterminer
    
    </section>
{{ end }}
