{{ define "main" }}
<section class="home-header">
	<h1 class="site-title">
		<img class="site-title__timbre" src="/assets/img/cal-50-ans-header-timbre-big.png" srcset="/assets/img/cal-50-ans-header-timbre-small.png 768w, /assets/img/cal-50-ans-header-timbre-big.png 1920w" alt="50 ans de Laïcité" />
	</h1>
</section>
<div class="savethedate">
	<div class="savethedate__dates">
		<div class="savethedate__dates__item first">10</div>
		<div class="savethedate__dates__item second">11</div>
		<div class="savethedate__dates__item third">12</div>
		<div class="savethedate__dates__item fourth">13</div>
		<div class="savethedate__dates__item month">
			<p>OCT<br />2019</p>
		</div>
	</div>
	<img class="savethedate__place" src="/assets/img/cite-miroir.png" alt="Cité Miroir à Liège" title="Cité Miroir à Liège" />
	<div class="savethedate__register">
		<h3 class="savethedate__register-txt">Recevez en priorité les invitations et les annonces à l'occasion des 50 ans du Centre d'Action Laïque qui se dérouleront à Liège en octobre prochain.</h3>
		<a href="https://my.sendinblue.com/users/subscribe/js_id/2j4af/id/12" class="button savethedate__register-btn">Ça m'intéresse&nbsp;!</a>
	</div>
	<h3>Avec les conférences de</h3>
	<ul class="savethedate__people">
		<li>Henri Bartholomeeusen</li>
		<li>Henri Pena-Ruiz</li>
		<li>Isabelle Boni-Claverie</li>
		<li>Tania De Montaigne</li>
		<li>Pascal Chabot</li>
		<li>Edouard Delruelle</li>
		<li>Jean Leclercq</li>
		<li>Adriana Costa Santos</li>
		<li>Christine Mahy</li>
		<li>Paul Jorion</li>
		<li>Arnaud Zacharie</li>
		<li>Djemila Benhabib</li>
		<li>Dounia Benslimane</li>
		<li>Abnousse Shalmani</li>
		<li>Pascal Blanchard</li>
		<li>Chafik Chraibi</li>
		<li>Danny Singoma</li>
		<li>Guy Haarscher</li>
		<li>Michel Rosenfeld</li>
		<li>Joan-Francesc Pont Clemente</li>
		<li>Boualem Sansal</li>
		<li>Valérie Piette</li>
		<li>Caroline Sägesser</li>
		<li>Jean-Yves Camus</li>
		<li>Jean-Arnault Derens</li>
		<li>Max Bojarski</li>
		<li>Albert Moukheiber</li>
		<li>Jonathan De Lathouwer</li>
		<li>Raphaël Glucksmann</li>
		<li>Caroline Pauwels</li>
	</ul>
	<h3 class="color--orange-dark">les spectacles et concerts de</h3>
	<p class="savethedate__people__events">
		Esperanza Europa d’Aziz Chouaki, Laïka et Pueblo de David Murgia et Ascanio Celestini, Féfé & Leeroy, L’Or du commun.
	</p>
	<h3 class="color--orange-dark">et l'exposition</h3>
	<p class="savethedate__people__events">
		Darwin, l’original.
	</p>
	<div class="savethedate__photos">
		<img src="/assets/img/speakers/small/henri-bartholomeeusen.jpg" alt="Portrait de Henri Bartholomeeusen" title="Henri Bartholomeeusen"/>
		<img src="/assets/img/speakers/small/henri-pena-ruiz.jpg" alt="Portrait de Henri Pena-Ruiz" title="Henri Pena-Ruiz" />
		<img src="/assets/img/speakers/small/isabelle-boni-claverie.jpg" alt="Portrait de Isabelle Boni-Claverie" title="Isabelle Boni-Claverie" />
		<img src="/assets/img/speakers/small/tania-de-montaigne.jpg" alt="Portrait de Tania de Montaigne" title="Tania de Montaigne" />
		<img src="/assets/img/speakers/small/pascal-chabot.jpg" alt="Portrait de Pascal Chabot" title="Pascal Chabot" />
		<img src="/assets/img/speakers/small/edouard-delruelle.jpg" alt="Portrait de Edouard Delruelle" title="Edouard Delruelle" />
		<img src="/assets/img/speakers/small/jean-leclercq.jpg" alt="Portrait de Jean Leclercq" title="Jean Leclercq" />
		<img src="/assets/img/speakers/small/adriana-costa-santos.jpg" alt="Portrait de Adriana Costa Santos" title="Adriana Costa Santos" />
		<img src="/assets/img/speakers/small/christine-mahy.jpg" alt="Portrait de Christine Mahy" title="Christine Mahy" />
		<img src="/assets/img/speakers/small/paul-jorion.jpg" alt="Portrait de Paul Jorion" title="Paul Jorion" />
		<img src="/assets/img/speakers/small/arnaud-zacharie.jpg" alt="Portrait de Arnaud Zacharie" title="Arnaud Zacharie" />
		<img src="/assets/img/speakers/small/djemila-benhabib.jpg" alt="Portrait de Djemila Benhabib" title="Djemila Benhabib" />
		<img src="/assets/img/speakers/small/dounia-benslimane.jpg" alt="Portrait de Dounia Benslimane" title="Dounia Benslimane" />
		<img src="/assets/img/speakers/small/abnousse-shalmani.jpg" alt="Portrait de Abnousse Shalmani" title="Abnousse Shalmani" />
		<img src="/assets/img/speakers/small/pascal-blanchard.jpg" alt="Portrait de Pascal Blanchard" title="Pascal Blanchard" />
		<img src="/assets/img/speakers/small/chafik-chraibi.jpg" alt="Portrait de Chafik Chraibi" title="Chafik Chraibi" />
		<img src="/assets/img/speake	rs/small/danny-singoma.jpg" alt="Portrait de Danny Singoma" title="Danny Singoma" />
		<img src="/assets/img/speakers/small/guy-haarscher.jpg" alt="Portrait de Guy Haarscher" title="Guy Haarscher" />
		<img src="/assets/img/speakers/small/michel-rosenfeld.jpg" alt="Portrait de Michel Rosenfeld" title="Michel Rosenfeld" />
		<img src="/assets/img/speakers/small/joan-francesc-pont-clemente.jpg" alt="Portrait de Joan-Francesc Pont Clemente" title="Joan-Francesc Pont Clemente" />
		<img src="/assets/img/speakers/small/boualem-sansal.jpg" alt="Portrait de Boualem Sansal" title="Boualem Sansal" />
		<img src="/assets/img/speakers/small/valerie-piette.jpg" alt="Portrait de Valérie Piette" title="Valérie Piette" />
		<img src="/assets/img/speakers/small/caroline-sagesser.jpg" alt="Portrait de Caroline Sägesser" title="Caroline Sägesser" />
		<img src="/assets/img/speakers/small/jean-yves-camus.jpg" alt="Portrait de Yves Camus" title="Yves Camus" />
		<img src="/assets/img/speakers/small/jean-arnault-derens.jpg" alt="Portrait de Jean-Arnault Derens" title="Jean-Arnault Derens" />
		<img src="/assets/img/speakers/small/albert-moukheiber.jpg" alt="Portrait de Albert Moukheiber" title="Albert Moukheiber" />
		<img src="/assets/img/speakers/small/jonathan-de-lathouwer.jpg" alt="Portrait de Jonathan De Lathouwer" title="Jonathan De Lathouwer" />
		<img src="/assets/img/speakers/small/raphael-glucksmann.jpg" alt="Portrait de Raphaël Glucksmann" title="Raphaël Glucksmann" />
		<img src="/assets/img/speakers/small/caroline-pauwels.jpg" alt="Portrait de Caroline Pauwels" title="Caroline Pauwels" />
		<img src="/assets/img/spectacles-concerts/cite-miroir.jpg" alt="Cité Miroir" title="Cité Miroir" />
		<img src="/assets/img/spectacles-concerts/esperanza-europa.jpg" alt="Esperanza Europa" title="Esperanza Europa" />
		<img src="/assets/img/spectacles-concerts/laika.jpg" alt="Laika" title="Laika" />
		<img src="/assets/img/spectacles-concerts/david-murgia.jpg" alt="David Murgia" title="David Murgia" />
		<img src="/assets/img/spectacles-concerts/darwin.jpg" alt="Darwin, l'original" title="Darwin, l'original" />
		<img src="/assets/img/spectacles-concerts/fefe-leeroy.jpg" alt="Féfé et Leeroy " title="Féfé et Leeroy " />
		<img src="/assets/img/spectacles-concerts/l-or-du-commun.jpg" alt="L'Or du Commun" title="L'Or du Commun" />
	</div>
	<h3>Une organisation de</h3>
	<ul class="savethedate__regionales">
		<li>
			<a target="_blank" href="https://www.laicite.be/">
				<img src="/assets/img/regionales/cal-com.png" alt="Le Centre d'Action Laïque" />
			</a>
		</li>
		<li>
			<a target="_blank" href="http://www.bxllaique.be/">
				<img src="/assets/img/regionales/bxl-laique.png" alt="Bruxelles Laïque" />
			</a>
		</li>
		<li>
			<a target="_blank" href="https://www.picardie-laique.be/">
				<img src="/assets/img/regionales/picardie-laique.png" alt="Picardie Laïque" />
			</a>
		</li>
		<li>
			<a target="_blank" href="https://www.calbw.be/">
				<img src="/assets/img/regionales/laicite-brabant-wallon.png" alt="Laïcité Brabant wallon" />
			</a>
		</li>
		<li>
			<a target="_blank" href="https://www.calliege.be/">
				<img src="/assets/img/regionales/cal-liege.png" alt="Centre d'Action Laïque de la Province de Liège" />
			</a>
		</li>
		<li>
			<a target="_blank" href="http://cal-charleroi.be/">
				<img src="/assets/img/regionales/cal-charleroi.png" alt="Centre d'Action Laïque - Charleroi" />
			</a>
		</li>
		<li>
			<a target="_blank" href="http://laicite.com/">
				<img src="/assets/img/regionales/cal-namur.png" alt="Centre d'Action Laïque - Namur" />
			</a>
		</li>
		<li>
			<a target="_blank" href="https://www.facebook.com/CALLuxembourg">
				<img src="/assets/img/regionales/cal-luxembourg.png" alt="Centre d'Action Laïque - Luxembourg" />
			</a>
		</li>
	</ul>
</div>
{{ end }}
