{{ define "main" }}

    <section class="home-section" id="intro" aria-labelledby="site-title">
        <picture class="home-section__img">
            <source type="image/webp" srcset="{{.Site.BaseURL}}assets/img/darwin-loriginal-intro-small.webp 768w,
                                              {{.Site.BaseURL}}assets/img/darwin-loriginal-intro.webp 4096w">
            <source type="image/jpeg" srcset="{{.Site.BaseURL}}assets/img/darwin-loriginal-intro-small.jpg 768w,
                                              {{.Site.BaseURL}}assets/img/darwin-loriginal-intro.jpg 4096w">
            <img class="home-section__img" src="{{.Site.BaseURL}}assets/img/darwin-loriginal-intro.jpg" alt="" sizes="100vw">
        </picture>
        <div class="home-section__content">
            <div class="home-section__content__block">
                <h1 class="site-title" id="site-title">Darwin, l’original</h1>
                <time class="site-date fs-m">Du 12&nbsp;octobre&nbsp;2019 au 2&nbsp;février&nbsp;2020</time>
                <p class="site-place fs-m" style="margin:0;">à La <a href="http://www.citemiroir.be">Cité Miroir</a> à Liège</p>
                <p class="site-description">
                    {{ .Site.Params.description }}
                </p>
                <p>
                    <a href="{{ .Site.BaseURL }}a-propos" class="button">En savoir plus</a>
                </p>
            </div>
            <div class="home-section__content__block home-section__content__block--tous-croyants">
                <h2>Tous croyants&nbsp;?</h2>
                <p>Compris avec l’entrée de l’exposition <em>Darwin, l’original</em></p>
                <p>L’exposition <em>Tous Croyants&nbsp;?</em> propose d’éveiller l’esprit critique en abordant le monde avec un soupçon de recul. De prendre le temps d’analyser les choses à une époque où les opinions se forgent à la vitesse de 280 caractères par minute. Elle se veut une boîte à outils, une amorce de décodage, un jeu de miroir. Un moment où se demander ensemble et en toute liberté : « sommes-nous tous des croyants ? ».</p>
                <p>Avec <em>Darwin, l'original</em> et <em>Tous croyants&nbsp;?</em>, le Centre d'Action Laïque de la Province de Liège a la volonté de promouvoir l'esprit critique et de réaffirmer la place de l'analyse et de la raison, la place de la fonction d'une théorie scientifique dans une société, mais aussi d'explorer largement la notion de croyances afin de permettre aux citoyens de comprendre et réfléchir le monde dans lequel ils vivent.</p>
                <p><small><em>Un exposition conçue par le Centre d'Action Laïque de la Province de Liège</em></small></p>
                <img class="tous-croyants__img" src="{{.Site.BaseURL}}assets/img/tous-croyants.png" alt="">
            </div>
        </div>
    </section>
    
    <section id="en-pratique" class="home-section" aria-labelledby="en-pratique-title">
        <picture class="home-section__img">
            <source type="image/webp" srcset="{{.Site.BaseURL}}assets/img/darwin-loriginal-en-pratique-small.webp 768w,
                                              {{.Site.BaseURL}}assets/img/darwin-loriginal-en-pratique.webp 4096w">
            <source type="image/jpeg" srcset="{{.Site.BaseURL}}assets/img/darwin-loriginal-en-pratique-small.jpg 768w,
                                              {{.Site.BaseURL}}assets/img/darwin-loriginal-en-pratique.jpg 4096w">
            <img class="home-section__img" src="{{.Site.BaseURL}}assets/img/darwin-loriginal-en-pratique.jpg" alt="" sizes="100vw">
        </picture>
        <div class="home-section__content">
            <h1 id="en-pratique-title">En pratique</h1>
            <ul>
                <li class="block-bg-medium no-before">
                    <ul>
                        <li>Du 12 octobre 2019 au 2 février 2020</li>
                        <li>à La <a href="http://www.citemiroir.be">Cité Miroir</a><br>place Xavier Neujean, 22 à 4000 Liège</li>
                        <li>En langue française, anglaise et italienne.</li>
                        <li>Exposition tout public familial et scolaire à partir de 10 ans.</li>
                    </ul>
                </li>
                <li class="block-bg-medium no-before">
                    <h2>
                        <svg class="svg-icon" width="48" height="48" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M38.9 41.4s-24 6.6-24-17.4 24-17.4 24-17.4m-4.6 13.3H9.1m22.2 8.2H9.1" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        Entrée <small>(pour les 2 expositions)</small></h2> 
                    <ul>
                        <li>7&nbsp;€</li>
                        <li>5&nbsp;€ <small>(-26 ans, demandeur d’emploi, groupe (min. 10 pers.), Carte prof, personne handicapée, Citoyen Fondation Cité Miroir, Membre Territoires de la Mémoire)</small></li>
                        <li>1,25&nbsp;€ <small>(Art.27)</small></li>
                    </ul>
                </li>
                <li class="block-bg-medium no-before">
                    <h2>
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                        Horaires</h2>
                    <ul>
                        <li>Lundi au vendredi 9h-18h</li>
                        <li>Samedi et dimanche 10h-18h</li>
                        <li>Ouverture en soirée en fonction des activités programmées</li>
                        <li>Fermetures exceptionnelles les 01/11 et 11/11, les 9, 24, 25 et 31/12 et le 01/01</li>
                    </ul>
                </li>
                <li class="block-bg-medium no-before">
                    <h2>
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg>
                        Informations et réservations</h2>
                    <ul>
                        <li>04&nbsp;230&nbsp;70&nbsp;50</li>
                        <li><a href="mailto:reservation@citemiroir.be">reservation@citemiroir.be</a></li>
                        <li><a href="https://www.citemiroir.be">www.citemiroir.be</a></li>
                    </ul> 
                </li>
            </ul>
        </div>
    </section>
    
    <section id="animations" class="home-section" aria-labelledby="animations-title">
        <div class="home-section__img-wrapper">
            <picture class="home-section__img home-section__img--01">
                <source type="image/webp" srcset="{{.Site.BaseURL}}assets/img/darwin-loriginal-animations-small.webp 768w,
                                                  {{.Site.BaseURL}}assets/img/darwin-loriginal-animations.webp 4096w">
                <source type="image/jpeg" srcset="{{.Site.BaseURL}}assets/img/darwin-loriginal-animations-small.jpg 768w,
                                                  {{.Site.BaseURL}}assets/img/darwin-loriginal-animations.jpg 4096w">
                <img class="home-section__img home-section__img--01" src="{{.Site.BaseURL}}assets/img/darwin-loriginal-animations.jpg" alt="" sizes="100vw">
            </picture>
            <picture class="home-section__img home-section__img--02 home-section__img--no-mobile">
                <source type="image/webp" srcset="{{.Site.BaseURL}}assets/img/darwin-loriginal-animations-02-small.webp 768w,
                                                  {{.Site.BaseURL}}assets/img/darwin-loriginal-animations-02.webp 4096w">
                <source type="image/jpeg" media="(min-width:768px)" srcset="{{.Site.BaseURL}}assets/img/darwin-loriginal-animations-02-small.jpg 768w,
                                                  {{.Site.BaseURL}}assets/img/darwin-loriginal-animations-02.jpg 4096w">
                <img class="home-section__img home-section__img--02 home-section__img--no-mobile" src="{{.Site.BaseURL}}assets/img/darwin-loriginal-animations-02.jpg" alt="" sizes="100vw">
            </picture>
            <picture class="home-section__img home-section__img--03 home-section__img--no-mobile">
                <source type="image/webp" srcset="{{.Site.BaseURL}}assets/img/darwin-loriginal-animations-03-small.webp 768w,
                                                  {{.Site.BaseURL}}assets/img/darwin-loriginal-animations-03.webp 4096w">
                <source type="image/jpeg" media="(min-width:768px)" srcset="{{.Site.BaseURL}}assets/img/darwin-loriginal-animations-03-small.jpg 768w,
                                                  {{.Site.BaseURL}}assets/img/darwin-loriginal-animations-03.jpg 4096w">
                <img class="home-section__img home-section__img--03 home-section__img--no-mobile" src="{{.Site.BaseURL}}assets/img/darwin-loriginal-animations-03.jpg" alt="" sizes="100vw">
            </picture>
        </div>
        <div class="home-section__content">
            <h1 id="animations-title">Enrichissez votre visite&nbsp;!</h1>
            <div class="animations__item">
                <h3>Visite animée</h3>
                <ul class="animations__item__list">
                    <li><svg class="svg-icon" width="48" height="48" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M38.9 41.4s-24 6.6-24-17.4 24-17.4 24-17.4m-4.6 13.3H9.1m22.2 8.2H9.1" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/></svg>25&nbsp;€ + ticket d’entrée/pers. (sur réservation uniquement)</li>
                    <li><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="square" stroke-linejoin="arcs"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>à partir de 12 ans</li>
                    <li><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="square" stroke-linejoin="arcs"><circle cx="12" cy="12" r="7"></circle><polyline points="12 9 12 12 13.5 13.5"></polyline><path d="M16.51 17.35l-.35 3.83a2 2 0 0 1-2 1.82H9.83a2 2 0 0 1-2-1.82l-.35-3.83m.01-10.7l.35-3.83A2 2 0 0 1 9.83 1h4.35a2 2 0 0 1 2 1.82l.35 3.83"></path></svg>durée : 1h30</li>
                </ul>
                <p>Au cœur de l’exposition, découvrez le parcours de Darwin, sa théorie de l'évolution, la manière dont elle a été reçue, les controverses qu'elle a suscitées et qu'elle suscite encore aujourd'hui tant sur le plan religieux que scientifique et ses implications actuelles dans différents domaines. Cette visite interrogera aussi les caractéristiques de la démarche scientifique et s'attachera à montrer comment l’une des plus grandes contributions à la pensée moderne et universelle est à nouveau menacée par l’obscurantisme.</p>
            </div>
            <div class="animations__item">
                <h3>Visite animée avec passeport</h3>
                <ul class="animations__item__list">
                    <li><svg class="svg-icon" width="48" height="48" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M38.9 41.4s-24 6.6-24-17.4 24-17.4 24-17.4m-4.6 13.3H9.1m22.2 8.2H9.1" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/></svg>25&nbsp;€ + ticket d’entrée/pers. (sur réservation uniquement)</li>
                    <li><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="square" stroke-linejoin="arcs"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>à partir de 12 ans</li>
                    <li><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="square" stroke-linejoin="arcs"><circle cx="12" cy="12" r="7"></circle><polyline points="12 9 12 12 13.5 13.5"></polyline><path d="M16.51 17.35l-.35 3.83a2 2 0 0 1-2 1.82H9.83a2 2 0 0 1-2-1.82l-.35-3.83m.01-10.7l.35-3.83A2 2 0 0 1 9.83 1h4.35a2 2 0 0 1 2 1.82l.35 3.83"></path></svg>durée : 1h30</li>
                </ul>
                <p>
                Cette visite débutera par une courte animation visant à mettre en évidence ce que les jeunes participants savent déjà (ou croient savoir) sur la théorie de l’évolution. Il leur sera ensuite proposé de parcourir l’exposition à leur rythme, munis d’un passeport comportant un certain nombre de questions dont les réponses seront à trouver dans l’exposition. La visite se clôturera par un échange autour des questions du carnet.</p>
            </div>
            <div class="animations__item">
                <h3>Animation Tous croyants&nbsp;?</h3>
                <ul class="animations__item__list">
                    <li><svg class="svg-icon" width="48" height="48" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M38.9 41.4s-24 6.6-24-17.4 24-17.4 24-17.4m-4.6 13.3H9.1m22.2 8.2H9.1" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/></svg>25&nbsp;€ + ticket d’entrée/pers. (sur réservation uniquement)</li>
                    <li><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="square" stroke-linejoin="arcs"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>à partir de 15 ans </li>
                    <li><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="square" stroke-linejoin="arcs"><circle cx="12" cy="12" r="7"></circle><polyline points="12 9 12 12 13.5 13.5"></polyline><path d="M16.51 17.35l-.35 3.83a2 2 0 0 1-2 1.82H9.83a2 2 0 0 1-2-1.82l-.35-3.83m.01-10.7l.35-3.83A2 2 0 0 1 9.83 1h4.35a2 2 0 0 1 2 1.82l.35 3.83"></path></svg>durée : 2 x 50 min</li>
                </ul>
                <p>Sommes-nous tous croyants ? Sommes-nous capables de nous libérer de nos croyances, au moins en partie ? Est-ce souhaitable ? Autant de questions auxquelles réfléchir ensemble. Qu’est-ce que la croyance ? Quel rapport entretient-elle avec la science ? Comment fait-elle partie de notre approche du monde, des autres, de notre vie en collectivité ? C’est une réflexion et un voyage au sein de nos propres représentations que nous vous proposons, en marge de <em>Darwin, l’original</em>, avec une exposition dynamique et vivante. Les animations permettront d’approfondir ces thèmes et plus encore, dans une approche interactive et d’ouverture du débat.</p>
            </div>
            <div class="animations__item animations__item--booking">
                <h3>
                    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg>
                    Informations et réservations</h3>
                <ul>
                    <li>04&nbsp;230&nbsp;70&nbsp;50</li>
                    <li><a href="mailto:reservation@citemiroir.be">reservation@citemiroir.be</a></li>
                    <li><a href="https://www.citemiroir.be">www.citemiroir.be</a></li>
                </ul> 
            </div>
        </div>
    </section>

{{ end }}
