/*
* FOOTER
*/

.site-footer {
    height:$su/2;
    width:100%;
    bottom:0;
    position: relative;
    
    @media screen and (min-width:768px) {
        height:$su*4;
        @include gradientBottom;

        &:after {
            content:"";
            width:8%;
            position: absolute;
            height:2px;
            background-color: white;
            right:0;
            bottom:36px;
        }
    }

    @include linePos(after);
}

.site-footer__wrapper {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    position:relative;
    @include gradientTop;
}

.site-footer__flambeau {
    display:none;
    position: absolute;
    right:0;
    margin-right:9.5vw;
    width:98px;

    .ie & {
        bottom:18px;
    }
    
    @media screen and (min-width:768px) {
        display:block;
    }
    @media screen and (min-width:940px) {
        margin-right:99px;
    }
}