/*
* HOMEPAGE
*/

.home-section-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.home-section {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-bottom:$su*4;

    @media screen and (min-width:1080px) {
        flex-direction: row;
        padding-bottom:$su*8;

        &:nth-child(odd) {

            .home-section__content {
                margin-left: -50px;
            }
        }

        &:nth-child(even) {

            .home-section__content {
                order:1;
            }
    
            .home-section__img {
                order:2;
            }
        }
    }
}

.home-section__content {
    flex:2;
    @include block-mw;
    padding:0 $su;

    .ie & {
        margin-left:$su*2;
    }

    @media screen and (min-width:1080px) {
        padding:0 $su*4;
        margin-top: $su*2;

        #intro & {
            margin: $su*5 $su*5 0 -280px;
            background: $bg-medium;
            padding: $su*2;
            z-index: 5;
        }

        #en-pratique & {
            margin-top:0;
        }
    }
}

.home-section__img {
    width:100%;
    height:auto;
    flex: 2;
    transition:clip-path 200ms ease-out;

    #intro & {
        clip-path: polygon(0% 0%, 100% 0%, 78% 94%, 0% 100%);
    }

    #en-pratique & {
        clip-path: polygon(17.4% 1.35%, 100% 0%, 100% 96.09%, 0.40% 99.85%);
    }

    @media screen and (min-width:1080px) {

        #intro & {
            clip-path: polygon(0% 0%, 96.95% 0%, 77.42% 92.15%, 0% 100%);
        }
        #intro:hover & {
            clip-path: polygon(0% 0%, 96.95% 0%, 81.80% 100%, 0% 100%);
        }

        #en-pratique & {
            clip-path: polygon(17.4% 1.35%, 100% 0%, 100% 96.09%, 5.00% 96.85%);
        }
        #en-pratique:hover & {
            clip-path: polygon(17.4% 1.35%, 100% 0%, 100% 96.09%, 0.40% 99.85%);
        }

        #reservation & {
            clip-path: polygon(0% 0%, 89.8% 18.13%, 87.13% 91.15%, 0% 100%);
        }
        #reservation:hover & {
            clip-path: polygon(0% 0%, 96.46% 19.85%, 95.22% 86.01%, 0% 100%);
        }
    }  
}

.site-title {
    margin-top:0;
    margin-bottom:$su;
}

.site-place {
    margin:0;
}

.site-description {
    margin-top:$su;
    margin-bottom:0;
}

#en-pratique {

    h3 {
        margin-top:$su*2;
        display: flex;
        align-items: center;
    }

    .svg-icon {
        width: 1.6em;
        margin-right:0.5em;
    }

    li:not(.no-before) {
        position:relative;
        display:flex;
        margin-left:2em;

        &:before {
            content:"•";
            display:block;
            margin-right:0.5em;
        }

        a {
            margin:0 0.3em;
        }
    }
}