/*
* HOMEPAGE
*/

.site-main {
    margin-top:12px;

    @media screen and (min-width:768px) {
        margin-top:0;
    }
}

.home-section-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.home-section {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-bottom:$su*4;

    &:last-of-type {
        padding-bottom:$su*2;
    }

    @media screen and (min-width:1080px) {
        flex-direction: row;
        padding-bottom:$su*8;

        &:nth-child(odd) {

            .home-section__content {
                margin-left: -50px;

                .ie & {
                    margin-left:0;
                }
            }
        }

        &:nth-child(even) {

            .home-section__content {
                order:1;
            }
    
            .home-section__img {
                order:2;
            }
        }

        &:last-of-type {
            padding-bottom:$su*2;
        }
    }
}

.home-section__content {
    flex:2;
    @include block-mw;
    padding:0 $su;
    position: relative;
    z-index:2;

    .ie & {
        margin-left:$su*2;
        flex: 1 1 auto;
    }

    #intro & {
        margin-top:$su;
    }

    @media screen and (min-width:1080px) {
        padding:$su*3 $su*4 0 $su*3;

        #intro & {
            margin: $su*5 $su*5 0 -380px;
            padding: $su*2;
            z-index: 5;
        }

        #en-pratique & {
            margin-right: -220px;
            margin-left: $su;
        }

        .ie & {
            margin-left:$su*2;
            flex: 0 0 auto;
        }
    }
}

.home-section__img {
    width:100%;
    height:auto;
    flex: 2;
    transition:clip-path 200ms ease-out;

    &--no-mobile {
        display:none;
    }

    .ie & {
        flex: 1 1 auto;
    }

    #intro & {
        clip-path: polygon(0% 0%, 100% 0%, 78% 94%, 0% 100%);
    }

    #en-pratique & {
        clip-path: polygon(17.4% 1.35%, 100% 0%, 100% 96.09%, 0.40% 99.85%);
    }

    @media screen and (min-width:1080px) {

        &--no-mobile {
            display:block;
        }

        #intro & {
            clip-path: polygon(0% 0%, 96.95% 0%, 77.42% 92.15%, 0% 100%);
        }
        #intro:hover & {
            clip-path: polygon(0% 0%, 96.95% 0%, 81.80% 100%, 0% 100%);
        }

        #en-pratique & {
            clip-path: polygon(17.4% 1.35%, 100% 0%, 100% 96.09%, 5.00% 96.85%);
        }
        #en-pratique:hover & {
            clip-path: polygon(17.4% 1.35%, 100% 0%, 100% 96.09%, 0.40% 99.85%);
        }
    }  
}

.home-section__content__block {

    @media screen and (min-width:1080px) {
        padding:$su*2 $su*2 $su $su*2;
        background: $bg-medium;
    }

    &--tous-croyants {
        margin-top:$su*2;
        position: relative;

        @media screen and (min-width:1080px) {
            margin-top:$su*2;
        }
        
        h2 {
            margin:0;
        }
    }

    .tous-croyants__img {
        display:none;
        position: absolute;
        width: 130px;
        right: -26px;
        top: -48px;

        @media screen and (min-width:1080px) {
            display:block;
        }
    }
}

.home-section__img-wrapper {
    clip-path: none !important;
}

.site-title {
    margin-top:0;
    margin-bottom:$su;
}

.site-place {
    margin:0;
}

.site-description {
    margin-top:$su;
    margin-bottom:0;

    @media screen and (min-width:768px) {
        font-size: 1.3rem;
    }
}

.svg-icon {
    width: 1.6em;
    margin-right:0.5em;
}

#en-pratique {

    .block-bg-medium {
        
        @media screen and (min-width:1080px) {
            background-color:$bg-medium;
            padding:$su;
            margin-bottom:$su*2;
        }
    }

    h2 {
        margin-top:$su*2;
        display: flex;
        align-items: center;

        .ie & {
            height:1.5em;
        }

        @media screen and (min-width:1080px) {
            margin-top:0;
        }
    }
}

#reservation {

    @media screen and (min-width:1080px) {

        .home-section__content {
            transform: translateX(-60px);
            padding: $su*4 $su*3 $su*3 $su*3;
        }
        
        h2 {
            margin-top:0;
        }
    }

    @media screen and (min-width:1360px) {

        .home-section__content {
            transform: translateX(-100px);
        }
    }

    .home-section__img-wrapper {
        width:100%;
        height:auto;
        flex: 2;
        transition:clip-path 200ms ease-out;
    
        &--no-mobile {
            display:none;
        }
    
        .ie & {
            flex: 1 1 auto;
        }
    
        img.home-section__img--01 {
            clip-path: polygon(0% 0%, 89.8% 18.13%, 87.13% 91.15%, 0% 100%);
        }

        img.home-section__img--02 {
            clip-path: polygon(0.35% 14.26%, 100.01% 5.43%, 99.66% 99.33%, 0.81% 95.83%);
        }

        img.home-section__img--03 {
            clip-path: polygon(4.87% 12.7%, 99.08% 6.47%, 99.66% 99.33%, 6.84% 80.7%)
        }
    
        @media screen and (min-width:1080px) {
    
            &--no-mobile {
                display:block;
            }
        }  
    }

    @media screen and (min-width:1080px) {
    
        &--no-mobile {
            display:block;
        }

        img.home-section__img--01 {
            clip-path: polygon(0% 0%, 89.8% 18.13%, 87.13% 91.15%, 0% 100%);
        }
        &:hover img.home-section__img--01 {
            clip-path: polygon(0% 0%, 96.46% 19.85%, 95.22% 86.01%, 0% 100%);
        }
    }  
}

.reservation__item {
    margin:$su*4 auto;

    @media screen and (max-width:1079px) {

        &:after {
            content: "";
            height: 1px;
            background: #fff;
            width: 30%;
            margin: $su*4 auto 0 0;
            display: block;
        }

        &:first-of-type:after, &:last-of-type:after {
            display:none;
        }

        h2 {
            margin-bottom:1.2em;

            &:after {
                content: "";
                height: 1px;
                background: white;
                display: block;
                margin-top: $su;
            }
        }
    }

    @media screen and (min-width:1080px) {
        background: $bg-medium;
        padding:$su*2;
        margin:$su*2 auto;

        h2 {

            &:after {
                display: none;
            }
        }

        h3 {
            margin-top:0;
            margin-bottom:1.2em;
        }
    
        p {
            margin-bottom:0;
        }
    }
}

.reservation__item__list {  

    li {
        display: flex;
        align-items: center;
        margin: 0 0 $su 0;
    }

    .svg-icon {
        width: 1.4em;
        margin-right: .5em;
        flex-shrink: 0;

        @media screen and (min-width:768px) {
            width:1.6em;
        }
    }
}