.main-single {
    margin:$su*4 auto;   

    > * {
        @include block-mw;
    }
}

.apropos__img-block {
    max-width:1240px;   
    overflow: hidden;
    display: block;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width:768px) {
        background-size: cover;
        background-attachment: fixed;
    }
    
    &.apropos__img-block--01 {
        height: 520px;
        clip-path: polygon(99.68% 98.20%, 0.2% 95.55%, 0.8% 1.08%, 96.41% 2.3%);
        background-image: url(../assets/img/darwin-loriginal-a-propos-01-small.jpg);

        @media screen and (min-width:768px) {
            background-image: url(../assets/img/darwin-loriginal-a-propos-01.jpg);
        }
    }

    &.apropos__img-block--02 {
        height:400px;
        clip-path: polygon(94.03% 92.45%, 1.57% 87.80%, 5.32% 5.33%, 95.36% 0%);
        background-image: url(../assets/img/darwin-loriginal-a-propos-02-small.jpg);

        @media screen and (min-width:768px) {
            background-image: url(../assets/img/darwin-loriginal-a-propos-02.jpg);
        }
    }

    &.apropos__img-block--03 {
        height:400px;
        clip-path: polygon(92.99% 99.7%, 0.2% 95.55%, 0.8% 1.08%, 93.99% 1.55%);
        background-image: url(../assets/img/darwin-loriginal-a-propos-03-small.jpg);

        @media screen and (min-width:768px) {
            background-image: url(../assets/img/darwin-loriginal-a-propos-03.jpg);
        }
    }
}

.main-single {
    
    h1 {
        padding:0 $su;
        margin-bottom:$su*3;
    }
    
    .block-bg-medium {
        padding:$su*2 1.2rem;
        background-color:$bg-medium;
        margin-bottom:$su*4;

        @media screen and (min-width:1080px) {
            padding:$su*2;
        }
    }
}

aside {

    h2 {
        margin-top:0;
        display:flex;
    }
}

.activite {
    position:relative;

    h1 {
        padding:0;
        margin:0;
    }

    header {
        margin-top:$su;
    }

    .event__img {
        width:100%;
        height:auto;
        
        img {
            width:100%;
            height:auto;
        }
    }
    
    @media screen and (min-width:1080px) {
        $unit : 480px;
        
        header {
            margin-top:0;
        }
        
        &:nth-of-type(2) {
            position: relative;
            margin-top:calc( #{$unit} + #{$su}*2);
            
            .event__img {
                position: absolute;
                top:-$unit;
                z-index:-1;
                clip-path: polygon(100.04% 99.08%, 0.2% 95.55%, -0.27% 12.87%, 91.53% 1.42%);
            }
        }
    }
}

.event__subtitle {
    font-style: italic;
}

.event__time {
    display:block;
    position:relative;
    padding-top:$su;
    @include ff-b;

    &:before {
        content:"";
        height:1px;
        background-color:white;
        margin-bottom:15px;
        position: absolute;
        top:0;
        width:33%;
    }
}

.event__venue-price {
    position:relative;
    padding-bottom:$su;
    @include ff-b;

    &:after {
        content:"";
        height:1px;
        background-color:white;
        margin-top:15px;
        position: absolute;
        bottom:0;
        left:0;
        width:33%;
    }
}

.event__price {
    @include ff-r;
}

.float-img {
    float:left;
    display:block;
    margin:0.2em 1em 0 0;
}