/*
* SINGLE
*/

article.single {
    max-width: $mw;
    margin:$su*4 auto;
    padding:0 $su;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;

    .single__header {
        width:100%;
        margin-bottom:$su*2;

        @media screen and (min-width:768px) {
            margin-bottom:$su*4;
        }
    }

    .single__header__img {
        display: block;
        width: 130px;
        margin: 0 auto 40px auto;
    }

    .event__title {
        font-size: 1.8rem;
        text-transform: uppercase;
        text-align: center;
        margin:0;
    }

    .single__main {
        order:2;
        box-sizing: border-box;
        background-color:$bg-color-light;
        border-radius:15px;
        padding:$su;
        
        @media screen and (min-width:768px) {
            order:1;
            width:calc( ( (100% / 3) * 2) - #{$su*2} ) ;
            margin-right:$su*2;
            padding:$su*2;
        }
    }

    .single__main__subtitle {
        text-transform:uppercase;
        margin-top:0;
    }

    .event__speakers {
        display:flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        margin:0;
        padding: 0;
        width: 100%;

        li {
            max-width:120px;
            margin:0 $su/4 $su $su/4;
            display: flex;
            flex-direction: column;
        }
    }

    li[itemprop="performer"] {
        width:140px;
        background-color:$green;
        position:relative;

        &:first-child {
            margin-left:0;
        }

        &:before {
            content:"";
            position:absolute;
            height:4px;
            top:0;
            left:0;
            width:100%;
            @include gradientTop; 
        }

        &:not(:first-child):after {
            content: "";
            display: block;
            width: 25px;
            height: 25px;
            background: pink;
            border-radius: 50%;
            left: -18px;
            position: absolute;
            top: 250px;
        }

        &.no-ball:after {
            display:none;
        }
    
        img {
            width:120px;
            height:200px;
        }
    }

    h5[itemprop="name"] {
        background-color:$pink;
        padding:1em 0.5em;
        @include ff-r;
        font-weight: normal;
        font-size:1rem;
        line-height:1.2;
        text-align: center;
        font-size: 0.8rem;
        margin:0;
        padding:$su $su/2;
    }

    span[itemprop="jobTitle"] {
        display: block;
        font-size: 0.8rem;
        padding:$su $su/2;
        text-align: center;
        line-height:1.2;
    }

    .single__content__back-btn {
        width: 5.8em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 0.6em;
        position:absolute;
        bottom:-17px;
    }

    .single__aside {
        order:1;
        margin-bottom:$su*4;
        width:100%;
        box-sizing: border-box;

        @media screen and (min-width:768px) {
            order:2;
            width:calc( (100% / 3) * 1);
            margin-bottom:0;
        }
    }

    .event__time {
        background-color: $purple;
        color: white;
        @include ff-b;
        padding: 0.5em 0.7em 0.3em 0.7em;
        display: block;
        margin-bottom: $su;
    } 

    .event__venue {
        @include ff-b;
    } 

    .event__tickets__link-wrapper {
        justify-content: flex-start;
        margin-bottom:$su;
    }

    .event__tickets__link {
        position: absolute;
        transform: translateY($su*2);
    }

    .event__category {
        margin-top:$su*3;
    }

    .single__nav {
        order:3;
        margin-top:$su*4;
        width:100%;
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: space-between;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding:$su/4;
            transform: translateX(-20px);

            @media screen and (min-width:1200px) {
                transform: translateX(-25px);
            }

            &.single__nav__next {
                margin-left:auto;
            }
        }
    }
} 