h1, h2, h3, h4 {
    @include ff-b;
    margin-bottom:0.25em;
    line-height:1.25;
    text-transform: uppercase;
}

h1 {
    font-size:2.4rem;
    margin-bottom:0.5em;
}

h2 {
    font-size:1.8rem;
	margin-bottom: 1em;
}

h3 {
    font-size:1.1rem;
}

p, ul {
    margin-bottom:1em;
    line-height:1.6;
	font-size: 18px;
}

ul {
    list-style-type: none;
    padding-left:0;

    li {
        line-height:1.4;
        margin:0.75em 0;
    }
}

.fs-m {
    font-size:1.6rem;
}

.fs-s {
    font-size:0.8rem;
}

.text-underline {
    text-decoration: underline;
}
